.detalle-pelicula {
    display: flex;
    gap: 24px;
    padding: 24px;
}
.poster-pelicula img {
    width: 300px;
    border-radius: 8px;
}
.info-pelicula {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.titulo-pelicula {
    font-size: 28px;
}
.subtitulo-pelicula {
    color: gray;
}
.boton-comprar {
    padding: 10px 16px;
    background-color: #346c2b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.boton-comprar:hover {
    background-color: #50a144;  
}
.horarios-pelicula ul {
    padding-left: 20px;
}
@media (max-width: 768px) {
    .detalle-pelicula {
        flex-direction: column;
        align-items: center;
    }

    .poster-pelicula img {
        width: 100%;
        max-width: 300px;
    }
}

