@import url(./style.css);
@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */
@import url(./components/nav.css);
@import url(./components/button.css);
@import url(./components/card-horizontal.css);
@import url(./components/card-vertical.css);
@import url(./components/footer.css);
@import url(./components/grids.css);


.titulo-pagina-estrenos h1{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-size: 3.5rem;
    
    color: var(--color-texto-suave);
}

body, main, .page-index {
    background-color: var(--color-superficie) !important;
    color: white; 
}

.titulo-pelicula-estrenos h4 {
    color: var(--color-texto);
    background-color: var(--color-primario);
    border: 1px solid var(--color-primario);
    text-decoration: underline;
}

.fecha-pelicula-estrenos{
    color: var(--color-texto);
    text-decoration:underline;
    background-color: var(--color-primario);
    border: 1px solid var(--color-primario);
}

.poster-pelicula-estrenos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border-color: var(--color-superficie);
}