@import url(./style.css);
@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */
@import url(./components/nav.css);
@import url(./components/button.css);
@import url(./components/card-horizontal.css);
@import url(./components/card-vertical.css);
@import url(./components/footer.css);
@import url(./components/grids.css);


.titulo-pagina-estrenos h1{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-size: 3.5rem;
    
    color: var(--color-texto-suave);
}

body, main, .page-index {
    background-color: var(--color-superficie) !important;
    color: white; 
}


    .titulo-pelicula-estrenos h4 {
        color: var(--color-texto);
        background-color: var(--color-primario);
        border: 1px solid var(--color-primario);
        text-decoration: underline;
    }

    .fecha-pelicula-estrenos{
        color: var(--color-texto);
        text-decoration:underline;
        background-color: var(--color-primario);
        border: 1px solid var(--color-primario);
    }

    .poster-pelicula-estrenos img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        border-color: var(--color-superficie);
    }
@media only screen and (max-width: 600px){
    .grilla-peliculas-estrenos {
        height: auto;
        display: grid;
        grid-auto-columns: 200px 100px;
        grid-auto-rows: 200px 50px;
        
        justify-content: center;
        align-items: center;
        
        grid-template-columns: repeat(3,200px);
        grid-template-rows: repeat(2,350px);

        grid-template-areas: 
            "pelicula-6 pelicula-5 pelicula-4"
            "pelicula-3 pelicula-2 pelicula-1";
  
    }
    .pelicula-1-estrenos { grid-area: pelicula-1; }
    .pelicula-2-estrenos { grid-area: pelicula-2; }
    .pelicula-3-estrenos { grid-area: pelicula-3; }
    .pelicula-4-estrenos { grid-area: pelicula-4; }
    .pelicula-5-estrenos { grid-area: pelicula-5; }
    .pelicula-6-estrenos { grid-area: pelicula-6; }

    .footer-estrenos{
        text-align: center;
        background-color: var(--color-fondo);
        text-decoration: underline;
        color: aliceblue;
    }

    .header-nav nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 24px; 
        align-items: center;
        margin: 0;
    }
}