@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */
@import url('./components/nav.css');
@import url('./components/poster.css');
@import url('./components/button.css');
@import url('./components/card-horizontal.css');
@import url('./components/card-vertical.css');
@import url('./components/footer.css');
@import url('./components/grids.css');

/* Paletas de colores que pueden usar: */

/* Paleta 1: */
:root {
  --color-fondo: #0f172a;
  --color-superficie: #1e293b;
  --color-primario: #e11d48;
  --color-secundario: #f59e0b;
  --color-texto: #f8fafc;
  --color-texto-suave: #94a3b8;
}

/* Paleta 2: */
/*:root {
  --color-fondo: #fff8e7;
  --color-superficie: #ffe8a3;
  --color-primario: #e63946;
  --color-secundario: #ffb703;
  --color-texto: #1d3557;
  --color-texto-suave: #457b9d;
}*/

/* Paleta 3: */
/*:root {
  --color-fondo: #141414;
  --color-superficie: #1f1f1f;
  --color-primario: #e50914;
  --color-secundario: #00b4d8;
  --color-texto: #ffffff;
  --color-texto-suave: #b3b3b3;
}*/


/* RESETEO BÁSICO */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INICIO INDEX.HTML*/

.header-principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--color-fondo);
}

.card-index {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario); 
  border-radius: 12px;
  overflow: hidden; 

}

.card-imagen {
  width: 100%;
  height: 352px; 
  object-fit: cover; 
  display: block;
  background-color: var(--color-texto); 
}

.card-contenido {
  display: flex;
  flex-direction: column;
  padding: 20px; 
  flex-grow: 1; 
  color: var(--color-texto);
}

.card-titulo {
  font-size: 20px; 
  margin-bottom: 4px; 
}

.card-genero {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 20px; 
}

.card-botones {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  margin-top: auto; 
}

/* estilo de botones */
.btn {
  text-decoration: none;
  text-align: center;
  padding: 12px; 
  border-radius: 8px; 
  font-weight: bold;
  font-size: 16px; 
  transition: opacity 0.2s, background-color 0.2s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-ver-mas {
  background-color: var(--color-texto);
  color: var(--color-primario);
}

.btn-comprar {
  background-color: var(--color-fondo); 
  color: var(--color-texto);
}

/* --- RESPONSIVE MEDIA QUERIES --- */
@media (max-width: 600px) {
  .contenedor-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px; 
  }
  
  .card-imagen {
    height: 300px; 
  }
}
/* FIN INDEX.HTML*/