/* grids del index */

.contenedor-cards {
    height: auto;
    gap: 40px;
    align-items: start;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: repeat(2, auto);

    margin: 40px auto;
    padding: 0 40px;

    justify-content: center;

    grid-template-areas: 
        "peli1 peli2 peli3"
        "peli4 peli5 peli6";
}

.peli1 { grid-area: peli1; }
.peli2 { grid-area: peli2; }
.peli3 { grid-area: peli3; }
.peli4 { grid-area: peli4; }
.peli5 { grid-area: peli5; }
.peli6 { grid-area: peli6; }


/* FIN grids del index */
/* FIN grids del index */
.grilla-peliculas-estrenos {
  height: auto;
  gap: 40px;
  
  display: grid;
  grid-auto-columns: 200px 100px;
  grid-auto-rows: 200px 50px;

  justify-content: center;
  align-items: center;
  
  grid-template-columns: repeat(3,200px);
  grid-template-rows: repeat(2,350px);

  grid-template-areas: 
    "pelicula-6 pelicula-5 pelicula-4"
    "pelicula-3 pelicula-2 pelicula-1";
  
}
.pelicula-1-estrenos { grid-area: pelicula-1; }
.pelicula-2-estrenos { grid-area: pelicula-2; }
.pelicula-3-estrenos { grid-area: pelicula-3; }
.pelicula-4-estrenos { grid-area: pelicula-4; }
.pelicula-5-estrenos { grid-area: pelicula-5; }
.pelicula-6-estrenos { grid-area: pelicula-6; }

.pelicula-estrenos {
    background-color: var(--color-primario);
    border: 1px solid #000;
    margin: start;
}
