.grilla-peliculas{
  height: 800px;
  gap: 40px;
  
  display: grid;
  grid-auto-columns: 200px 100px;
  grid-auto-rows: 200px 50px;

  justify-content: center;
  align-items: center;
  
  grid-template-columns: repeat(3,200px);
  grid-template-rows: repeat(2,350px);

  grid-template-areas: 
    "pelicula-6 pelicula-5 pelicula-4"
    "pelicula-3 pelicula-2 pelicula-1";
  
}

.pelicula-1 { grid-area: pelicula-1; 
    background-image: url("../assets/img/poster-1.png");
}
.pelicula-2 { grid-area: pelicula-2; }
.pelicula-3 { grid-area: pelicula-3; }
.pelicula-4 { grid-area: pelicula-4; }
.pelicula-5 { grid-area: pelicula-5; }
.pelicula-6 { grid-area: pelicula-6; }

.pelicula {
    background-color: var(--color-primario);
    border: 1px solid #000;
    margin: start;
}